* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.truncate-overflow {
  max-height: 2.8rem;
  overflow: hidden;
  position: relative;
}

.truncate-overflow::before {
  content: '...';
  position: absolute;
  display: block;
  bottom: 0;
  right: 0;
}

.truncate-overflow::after {
  content: '';
  position: absolute;
  right: 0;
  width: 1.4rem;
  height: 1.4rem;
  background: white;
}

.button {
  height: 2.5rem;
  padding: 0 1rem;
  border: #686f7a solid 0.1rem;
  border-radius: 0.2rem;
  font-size: 0.875rem;
  font-weight: 300;
  background-color: #fff;
  color: #686f7a;
  outline: none;
  cursor: pointer;
  transition: all .5s;
}

.button-sm {
  height: 1.25rem;
  padding: 0 0.5rem;
  font-size: .5rem;
}

.button-lg {
  height: 3.5rem;
  padding: 0 1.5rem;
  font-size: 1.5rem;
}

.button-red-bold {
  color: #fff;
  background-color: red;
  border-color: transparent;
}

.button-red-bold:hover {
  background-color: #992337;
}

.button-secondary {
  color: #686f7a;
}

.button-secondary:hover {
  color: #505764;
}

.button-white {
  color: #686f7a;
  border-color: #686f7a;
}

.button-white:hover {
  color: #505764;
  border-color: #505764;
}

.button-circle {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  font-size: 1rem;
  border: transparent solid .0625rem;
  background-color: transparent;
  color: #686f7a;
  transition: all .5s;
}

.button-circle:hover {
  border-color: #e8e8e8;
  background-color: #f2f3f5;
}

.button-white-light {
  border-color: transparent;
}

.button-white-light:hover {
  background-color: #f2f3f5;
  border-color: #e8e8e8;
}

.udemy-form-control {
  border: none;
  display: flex;
  border-radius: .1rem;
  overflow: hidden;
  background-color: #fff;
}

.udemy-form-control input, .udemy-form-control button {
  height: 2.5rem;
  padding: 0 1rem;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 300;
}

.udemy-form-control input {
  flex: auto;
}

.udemy-form-control button {
  color: #ec5352;
}

.udemy-form-control button:hover {
  background-color: #ec5352 !important;
  color: #fff !important;
}

.udemy-form-control--lg input, .udemy-form-control--lg button {
  height: 3.5rem;
  width: 3.5rem;
}

.udemy-form-control--light {
  background-color: #f2f3f5;
  border: #f2f3f5 solid 1px;
}

.udemy-form-control--light input:focus {
  background-color: #fff;
}

.udemy-form-control--light input:focus + button {
  background-color: #fff;
  color: #ec5352;
}

.search-full {
  position: fixed;
  top: 0;
  display: flex;
  display: none;
  width: 100%;
  align-items: center;
  height: 3.5rem;
  background-color: #fff;
  z-index: 100;
}

.search-full button, .search-full input {
  border: none;
  outline: none;
}

.search-full .button-1 {
  width: 3.5rem;
  height: 3.5rem;
  background-color: transparent;
  position: relative;
  margin-right: 1rem;
}

.search-full .button-1 .divider-vertical {
  display: block;
  position: absolute;
  height: 2rem;
  width: 1px;
  background-color: #e8e8e8;
  right: 0;
  bottom: 0.75rem;
}

.search-full .button-1:hover {
  background-color: #ec5352;
}

.search-full .btn-close {
  height: 3.5rem;
  outline: none;
}

.search-full .btn-close:focus {
  box-shadow: none;
}

.search-full input {
  height: 2rem;
  flex: auto;
  font-weight: 300;
  font-size: 1.1rem;
}

.overlay--mobile-show {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(80, 87, 100, 0.1);
}

#header .navbar-toggler {
  border: none;
  box-shadow: none;
  outline: none;
}

#header .navbar-toggler em {
  display: block;
  height: .1875rem;
  margin: .1875rem;
  width: 1.25rem;
  background-color: #686f7a;
}

#header .menu-custom {
  transition: .5s;
}

#header .menu-custom.menu-2 {
  position: absolute;
  top: 0;
  left: -15rem;
  width: 15rem;
  min-height: 100vh;
  background-color: #fff;
  overflow-y: auto;
}

#header .menu-custom .menu-2-wrap {
  display: flex;
  transition: all .5s;
}

#header .menu-custom .menu-2-1, #header .menu-custom .menu-2-2, #header .menu-custom .menu-2-3 {
  width: 15rem;
  min-height: 100vh;
  padding-bottom: 4rem;
  background-color: absolute;
  overflow-y: auto;
}

#header .menu-custom .menu-2-2__item, #header .menu-custom .menu-2-3__item {
  display: none;
}

#header .menu-custom hr.divider-1 {
  height: .0625rem;
  margin: 0.5rem 0;
}

#header .menu-custom hr.divider-2 {
  height: .125rem;
  margin: 0.5rem 0;
}

#header .menu-custom .signup-login a, #header .menu-custom .signup-login span {
  font-weight: 700;
  color: #007891;
  text-decoration: none;
}

#header .menu-custom .main-link {
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.1875rem;
  margin: 0;
}

#header .menu-custom a.nav-link {
  cursor: pointer;
  display: flex;
  color: #686f7a;
  font-size: 1rem;
}

#header .menu-custom a.nav-link:hover, #header .menu-custom a.nav-link.active {
  background-color: #f2f3f5;
  opacity: .8;
}

#header .menu-custom a.nav-link .icon {
  width: 1.5rem;
}

#header a[show="all-categories"] {
  color: #505764 !important;
  font-weight: 600;
}

#header .menu-search {
  flex: auto;
}

#header .toggler-div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#header .toggler-div a {
  color: #505764;
  cursor: pointer;
}

.notice-streamer {
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #fff;
}

.notice-streamer .notice-streamer__top {
  padding: 7rem 0;
}

.notice-streamer .notice-streamer__bottom {
  padding: 1rem 0;
  background-image: linear-gradient(to right, #751d51, #e65052);
}

.notice-streamer .notice-streamer__item {
  display: flex;
  gap: 1rem;
}

.notice-streamer .notice-streamer__item h6 {
  font-size: 1.25rem;
}

.notice-streamer .notice-streamer__item p {
  font-size: 0.875rem;
  margin: 0;
}

.skill-hubs .nav-tabs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border: none;
}

.skill-hubs .nav-tabs li {
  border-bottom: #ccc solid 1px;
  position: relative;
  padding: 1rem 0;
  flex: auto;
  max-width: 14rem;
}

.skill-hubs .nav-tabs button {
  border: none;
  text-align: center;
  width: 100%;
}

.skill-hubs .nav-tabs button.active::after {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background-color: #007891;
}

.skill-hubs .owl-nav {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  top: 30%;
}

.skill-hubs .owl-nav .owl-prev,
.skill-hubs .owl-nav .owl-next {
  background-color: #fff !important;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  box-shadow: 2px 2px 2px #505764;
  transition: all .5s;
}

.skill-hubs .owl-nav .owl-prev span,
.skill-hubs .owl-nav .owl-next span {
  color: transparent;
}

.skill-hubs .owl-nav .owl-prev::before,
.skill-hubs .owl-nav .owl-next::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  display: flex;
  color: #007891;
  height: 3rem;
  height: 3rem;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  transition: all .5s;
  opacity: .8;
}

.skill-hubs .owl-nav .owl-prev::before {
  content: '\f053';
}

.skill-hubs .owl-nav .owl-prev:hover {
  box-shadow: 2px 2px 8px #505764;
}

.skill-hubs .owl-nav .owl-prev:hover::before {
  padding-right: .3rem;
  opacity: 1;
}

.skill-hubs .owl-nav .owl-next::before {
  content: '\f054';
}

.skill-hubs .owl-nav .owl-next:hover {
  box-shadow: 2px 2px 8px #505764;
}

.skill-hubs .owl-nav .owl-next:hover::before {
  padding-left: .3rem;
  opacity: 1;
}

.skill-hubs .owl-nav button.disabled {
  display: none;
}

.skill-hubs .skill-hubs__item .card {
  box-shadow: 0 2px 3px #e8e8e8;
  cursor: pointer;
}

.skill-hubs .skill-hubs__item .card:hover {
  box-shadow: 0 2px 3px #505764;
}

.skill-hubs .skill-hubs__item .card .rated {
  color: #F4C150;
}

.skill-hubs .skill-hubs__item .card .card-title-parent {
  min-height: 3.25rem;
}

.skill-hubs .skill-hubs__item .card .card-title {
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.4rem;
}

.skill-hubs .skill-hubs__item .card small {
  font-weight: 0.625rem;
  font-weight: light;
}
