.button{
    padding: .6rem 1rem;
    font-size: .8rem;
    border-radius: .1rem;
    font-weight: 500;
}

.white-button{
    @extend .button;
    border: $gray-color solid 1px;
    background-color: $white-color;
    color: $gray-color;
}

.red-button{
    @extend .button;
    border: transparent solid 1px;
    background-color: $red-color;
    color: $white-color;
}

.category-button{
    @extend .white-button;
    border-color: transparent;
    font-weight: 300;

    &:hover{
        background-color: $gray-light-color;
        border-color: $gray-color;
    }
}

.cart-button{
    color: $gray-color;
    &:hover{
        color: $gray-color;
    }
}