.skill-hubs {
    .nav-tabs {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        border: none;
        li {
            border-bottom: #ccc solid 1px;
            position: relative;
            padding: 1rem 0;
            
            flex: auto;
            max-width: 14rem;
        }
        button {
            border: none;
            text-align: center;
            width: 100%;
            font-size: .875rem;
            font-weight: bold;
            &.active {
                &::after {
                    content: '';
                    position: absolute;
                    display: block;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 5px;
                    background-color: $primary;
                }
            }
        }
    }
    .owl-nav {
        display: flex;
        justify-content: space-between;
        position: absolute;
        width: 100%;
        top: 30%;
        .owl-prev,
        .owl-next {
            background-color: $white !important;
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            box-shadow: 2px 2px 2px $dark;
            transition: all .5s;
            span{
                color: transparent;
            }
            &::before {
                font-family: 'Font Awesome 5 Free';
                font-weight: 900;
                display: flex;
                color: $primary;
                height: 3rem;
                height: 3rem;
                font-size: 1rem;
                justify-content: center;
                align-items: center;
                transition: all .5s;
                opacity: .8;
            }
            
        }

        .owl-prev {
            &::before {
                content: '\f053';
            }
            &:hover {
                box-shadow: 2px 2px 8px $dark;
                &::before{
                    padding-right: .3rem;
                    opacity: 1;
                }
            }
        }
        .owl-next {
            &::before {
                content: '\f054';
            }
            &:hover {
                box-shadow: 2px 2px 8px $dark;
                &::before{
                    padding-left: .3rem;
                    opacity: 1;
                }
            }
        }
        button.disabled{
            display: none;
        }
    }

    .skill-hubs__item {
        .card {
            box-shadow: 0 2px 3px $muted;
            cursor: pointer;
            &:hover {
                box-shadow: 0 2px 3px $dark;
            }
            .rated {
                color: $yellow;
            }
            .card-title-parent {
                min-height: 3.25rem;
            }
            .card-title {
                font-size: 0.875rem;
                font-weight: bold;
                line-height: 1.4rem;
            }
            small {
                font-weight: 0.625rem;
                font-weight: light;
            }
        }
    }
}
