.udemy-components{
    
    .udemy-components__icons{
        display: flex;
        min-height: 8rem;
        align-items: center;
        text-align: center;
        justify-content: space-around; 
    }
    .icon{
        font-size: 1.5rem;
    }
}
.red-line{
    height: .4rem;
    background-color: $danger;
}